/* Media Queries below 991px */
@media (max-width: 991px) {
  /* Bootstrap collapse of navigation with a maximum width: 991px
    (Change it to any breakpoint you want to be collapsed) */
  .header {
    background: #fff;
  }
  .header .navbar-toggle {
    display: block;
  }
  .header .navbar-collapse.collapse {
    display: none !important;
  }
  .header .navbar-collapse.collapse.in {
    display: block !important;
  }
  .header .nav-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .header .navbar-nav {
    margin: 0;
    float: none;
  }
  .header .navbar-nav .nav-item {
    float: none;
  }
  /* Menu Container */
  .header .menu-container:before, .header .menu-container:after {
    content: " ";
    display: table;
  }
  .header .menu-container:after {
    clear: both;
  }
  /* Logo */
  .header .logo .logo-img-main {
    display: none;
  }
  .header .logo .logo-img-active {
    display: inline-block;
  }
  /* Navbar Nav */
  .header .nav-item-child {
    color: #515769;
    line-height: 1.4;
    padding: 12px 12px 12px 15px;
  }
  .header .nav-item-hover:after {
    position: absolute;
    top: 19px;
  }
  .swiper-container{
    display: none;
  }
  .main-content-agile {
      width: 50%;
      position: static;
      margin: 0 auto;
  }
  .sub-main-log input[type="submit"]{
    padding: .5em 0;
    margin-top: .3em;
  }

  .sub-main-log h2{
    font-size: 5px;
  }

  .icon1, .icon2 {
      position: relative;
      margin-top: .1em;
  }
  .icon1{
  	padding-bottom:.5em!important;
  }

}

/* Media Queries below 767px */
@media (max-width: 767px) {
  /* Menu Container */
  .header .menu-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0;
    margin-right: 0;
  }
  .header .navbar > .container {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .header .navbar > .container > .nav-collapse {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .main-content-agile {
		width: 65%;
		padding: 2em;
	}

}

/* Media Queries dessus 992px */
@media (min-width: 992px) {
  /* Navbar */
  .header .navbar-nav-right {
    float: right;
  }
}

/* Page On Scroll */
@media (min-width: 992px) {
  .page-on-scroll .header .navbar {
    background: #fff;
    border-bottom-color: #f0f0f0;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .logo-img-main {
    display: none;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .logo-img-active {
    display: inline-block;
    transition-duration: 400ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }
  .page-on-scroll .header .nav-item-child {
    color: #515769;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
  }

}

/*===========================================================
-------------------  RESPONSIVE CONNEXION FORM --------------
===========================================================*/


@media(max-width: 800px){
	.main-content-agile {
		width: 61%;
	}
}

@media(max-width: 768px){
	.main-content-agile {
		width: 65%;
		padding: 2em;
	}
}


@media(max-width:600px){
	.main-content-agile {
		width: 73%;
		padding: 1em;
	}
}

@media(max-width:480px){
	.sub-main-log {
		padding: 1em;
	}
	.navbar-rightt.social-icons a {
      margin: 0 3.7%;
	}
	.sub-main-log h2 {
     font-size: 1.6em;
	}
}
@media(max-width:414px){
	.main-content-agile {
		width: 87%;
		padding: 1em;
	}

	.sub-main-log h2 {
      font-size: 1.5em;
	}
	.sub-main-log h6 {
      margin: 1.3em 0 1em;
	}
  .swiper-container{
    display: none;
  }
}
@media(max-width:375px){
	.icon1, .icon2 {
		position: relative;
		margin-top: 0.5em;
	}
	.navbar-rightt.social-icons a i {
		padding-right: 5px;
	}
  .swiper-container{
    display: none;
  }
}
@media(max-width: 320px){
	.sub-main-log {
		padding: 0em;
	}

}
/*--//connexion responsive--*/
